{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="section-content padding-y">
<div class="container">

<header class="section-heading">
    <h3 class="section-title">All Categories</h3>
</header>

<div class="row">

{% for cat in categories %}
<div class="col-md-3 col-sm-6">
    <div class="card card-category mb-4 shadow-sm">

        {% if cat.cat_image %}
    <img src="{{ cat.cat_image.url }}"
         class="card-img-top"
         style="height:200px; object-fit:cover;">
{% else %}
    <img src="{% static 'images/default-product.png' %}"
         class="card-img-top"
         style="height:200px; object-fit:cover;">
{% endif %}
        <div class="card-body text-center">
            <h5 class="card-title">{{ cat.category_name }}</h5>

            <a href="{{ cat.get_url }}" class="btn btn-primary btn-sm">
                View Products
            </a>
        </div>

    </div>
</div>
{% endfor %}

</div>
</div>
</section>

{% endblock %}