{% extends "auth_base.html" %}
{% block content %}

<div class="container mt-4">

    <h2>Distributor Dashboard</h2>

    <div class="mb-4">
        <a href="{% url 'add_product' %}" class="btn btn-success">➕ Add Product</a>
        <a href="{% url 'shop' %}" class="btn btn-primary">🛒 View Shop</a>
        <a href="{% url 'distributor_orders' %}" class="btn btn-warning">📦 View Orders</a>
    </div>

    <hr>

    <h4>Your Orders</h4>

    {% if orders %}
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Total</th>
                <th>Status</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>

        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.user }}</td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.delivery_status }}</td>

            <td>
                <form method="POST" action="{% url 'update_status' order.id %}">
                    {% csrf_token %}
                    <select name="status" class="form-control">
                        <option value="pending">Pending</option>
                        <option value="assigned">Assigned</option>
                        <option value="shipped">Shipped</option>
                        <option value="delivered">Delivered</option>
                    </select>
                    <button class="btn btn-sm btn-dark mt-2">Update</button>
                </form>
            </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>

    {% else %}
        <p>No orders yet</p>
    {% endif %}

</div>

{% endblock %}